{
	"rules": {
		"quotes":"single",
		"no-use-before-define": false,
		"no-underscore-dangle": false
	},
	"env": {
		"node": true,
		"mocha": true
	},
	"globals": {
		"logger": true
	},
	"plugins": [
	]
}